{% extends "base.html" %}

{% block htmltitle %}
  <title>Advay's Blog</title>
{% endblock %}

{% block styles %}
  <!-- Add scripts that need to run before here -->
  {{ super() }}
  <!-- Add scripts that need to run afterwards here -->
  <!-- Computer Modern fonts (kept for reference) -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/bitmaks/cm-web-fonts@latest/fonts.css"> -->
  <!-- Courier Prime webfont (kept for reference) -->
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap"> -->
{% endblock %}
